@import url("https://fonts.cdnfonts.com/css/raleway-5");

.abmhead {
  position: relative;
  top: 80px;
  color: black;
  display: flex;
  padding-left: 60px;
}

.abmhead h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 150px;
  width: fit-content;
}

.abmhead p {
  margin-left: 25px;
  padding-top: 100px;
  font-size: larger;
}

.formats {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: 90px 0px 0px 300px;
  width: 900px;
}

.abm {
  display: flex;
  flex-direction: column;
  height: 600px;
  background-color: var(--main);
  width: 50%;
  align-items: center;
  color: black;
}
.picname {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom: 5px solid var(--lightblue);
}

.pictitle h2 {
  padding-top: 20px;
  font-weight: lighter;
}

.piclist {
  margin-top: auto;
  background-color: white;
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.biotext {
  color: black;
  padding: 15px;
}

.biotext h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 100px;
}

.projectlink {
  margin: 15px;
  border-radius: 50px;
  height: 40px;
  width: 120px;
  background-color: white;
  font-family: 'Raleway', sans-serif;
  font-size: larger;
}

.resume {
  margin: 15px;
  border-radius: 50px;
  height: 40px;
  width: 120px;
  background-color: #1DA1F2;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: larger;
}

.hasbulla {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
  margin: 50px;
  border-radius: 300px;
}
