.formats {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .abm {
    display: flex;
    box-shadow: 0px 0px 15px #25282b;
    border-radius: 10px;
    min-height: 400px;
    max-width: 80%;
    background-color:var(--lightblue);
  }
  
  .bio {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
  }
  
  .abmhead {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 30px;
    border-right: 5px solid var(--lightblue);
  }

  .hasbulla {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    margin: 50px;
    border-radius: 300px;
  }

  .biotext {
    resize: none;
  }

  .biotext p {
    align-items: center;
    padding: 25px;
    font-size: smaller;
  }