.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  display: block;
  margin: 15%;
  text-align: center;
}

.title h1 {
  font-size: 100px;
  color: black;
  font-family: "Caramel", curisve;
}

.title p {
  color: var(--lightblue);
  margin-top: 20%;
}

.name {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  font-size: 60px;
}

.homepage h2 {
  position: relative;
}

.appear {
  text-align: center;
  width: 55%;
}

.welcome {
  width: fit-content;
  position: absolute;
  left: 40%;
  overflow: hidden;
  animation: animate 2s linear forwards;
}

.welcome h2 {
  color: black;
  border-bottom: 1px solid black;
}

@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
  }
  30% {
    width: 50px;
    height: 0px;
  }
  60% {
    width: 50px;
    height: 80px;
  }
}

/*-----------------------------Header Animations-------------------------------*/
.content {
  position: relative;
  height: 160px;
  font-family: "Lato", sans-serif;
  font-size: 35px;
  line-height: 40px;
  color: black;
  width: 720px;
}

.containers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: 5px solid black;
  font-size: smaller;
}

.containers:before {
  content: "[";
  left: 0;
}

.containers:after {
  content: "]";
  position: absolute;
  right: 0;
}

.containers:after,
.containers:before {
  position: relative;

  color: var(--lightblue);
  line-height: 40px;

  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.text {
  display: inline;
}
.closetext {
  display: inline;
  width: fit-content;
}

.list {
  position: relative;
  width: fit-content;
  border: 5px solid grey;
  list-style: none;
  margin: 0px 10px 0px 10px;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.item {
  line-height: 40px;
  margin: 0;
}

@-webkit-keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes change {
  0%, 
  15% {
    transform: translate3d(0, -35%, 0);
  }
  30% {
    transform: translate3d(0, -12%, 0);
  }
  45% {
    transform: translate3d(0, 12%, 0);
  }
  60% {
    transform: translate3d(0, 36%, 0);
  }
  75% {
    transform: translate3d(0, 12%, 0);
  }
  90% {
    transform: translate3d(0, -12%, 0);
  }
  100% {
    transform: translate3d(0, -35%, 0);
  }
}
