/*------------  Navbar CSS Styling  ------------*/

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 0%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  transition: 0.5s;
  background-color: var(--heavyblue);
}

.menubutton {
  position: fixed;
  margin-top: 50px;
  margin-left: 40px;
  font-size: xx-large;
}

.wrapper {
  transform: translate(-50%, -50%);
}

.link_wrapper {
  position: relative;
}

.abut {
  display: block;
  width: 50px;
  border-radius: 50px;
  line-height: 50px;
  font-weight: bold;
  text-align: center;
  transition: all 0.35s;
  background-color: var(--heavyblue);
}

.icon {
  visibility: hidden;
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: 2s;

}

.icon svg {
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: black;
  transition: 1s;
}

.icon svg:hover {
    transition: 1s;
}

.abut:hover {
  width: 100px;
  border: 3px solid black;
  border-radius: 400px;
  color: var(--gold);
  transition: all 1s;
}

.abut:hover + .icon {
  visibility: visible;
  border: 3px solid black;
  right: -45%;
  transition: ease-in .35s;
}

.options {
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: center;
  align-items: center;
}

.options a {
  text-decoration: none;
  margin: 25%;
  width: max-content;
  text-align: center;
}

.options a:visited {
  text-decoration: none;
  color: var(--main);
}

.navcon {
  color: white;
  font-size: x-large;
}

.navbut {
  visibility: collapse;
}
