

.fullthree {
  height: 90%;
  border: 5px solid yellow;
  display: flex;
  flex-direction: column;
}

.worksheader {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects {
  border: 5px solid white;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 70%;
  align-self: center;
}

.image {
  width: 40%;
  height: 200px;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  background-size: cover;
}

.imageinfo {
  opacity: 0;
  transform: scale(0);
  transition: 0.8s;
  font-size: 2rem;
  color: white;
}

.image:hover{
  box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.6) inset;
}

.image:hover .imageinfo {
  opacity: 1;
  transform: scale(1);
  color: wheat;
}
