@import url('https://fonts.cdnfonts.com/css/raleway-5');

.fullthree {
  height: 90%;
  border: 5px solid yellow;
  display: flex;
  flex-direction: column;
}

.worksheader {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects {
  border: 5px solid white;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 70%;
  align-self: center;
}

.image {
  width: 400px;
  height: 200px;
  transition: 0.5s;
  background-position: center;
  background-size: cover;
}

.imageinfo {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  transition: 0.8s;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.imageinfo:visited{
  text-decoration: none;
}

.image:hover{
  box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.6) inset;
}

.image:hover .imageinfo {
  opacity: 1;
  transform: scale(1);
  color: wheat;
}

.imageinfo h2 {
  margin-top: auto;
  margin-bottom: auto;
}

.appinfo {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  margin-top: auto;
  width: 100%;
}

a {
  text-decoration: none;
}