.fullthree {
  height: 90%;
  border: 5px solid yellow;
  display: flex;
  flex-direction: column;
}

.worksheader {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects {
  border: 5px solid white;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 70%;
  align-self: center;
}

.projects div {
  flex-grow: 1;
}

.app-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 15px var(--l_grey);
  border-radius: 20px;
  overflow: hidden;
  object-fit: contain;
  margin: 20px;
}

.app-container img {
  height: 200px;
  object-fit: contain;
  width: 40%;
}

.blank-result-card {
  display: flex;
  box-shadow: 0px 0px 15px #25282b;
  transition: all 0.5s ease-out;
}

.blank-result-card:hover {
 cursor: pointer;
 background-color: gold;
 transition: all 4s;;
}


.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

